Header set Access-Control-Allow-Origin "https://ziptrak-configurator.herokuapp.com/"

RedirectMatch 403 /\..*$

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php
