.range
{
    width: min-content;

    display: block;

    &-controls
    {
        display: flex;
        align-items: center;

        &-slider
        {
            margin: 0;
            height: 10px;

            background: #dddddd;

            border-radius: 10px;
            appearance: none;
            outline: none;

            &::-webkit-slider-thumb
            {
                height: 20px;
                width: 20px;

                background: #000000;                

                border-radius: 100%;

                appearance: none;
                cursor: pointer;
            }
        }        

        &-btn 
        {
            height: 25px;
            width: 25px;
            padding: 0;

            display: block;

            background: transparent;
            
            font-size: 20px;

            border: 2px solid black;
            border-radius: 100%;
            outline: none;
            cursor: pointer;

            &-dcrs
            {
                margin-right: 10px;
            }

            &-incr 
            {
                margin-left: 10px;
            }
        }
        
    }
    &-value 
    {
        width: 100%;
        margin-top: 5px;

        display: block;

        text-align: center;
    }
}